/*
    External Style Sheets
==================================
 */

@import "./header.css";
@import "./utilities.css";
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');
/*
    Base Styles
==================================
 */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
}

footer {
    height: 100px;
    color: #ffffff;
    padding-top: 10px;
}
